{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Check Your Report" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
  {% from "govuk/components/panel/macro.njk" import govukPanel %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {% include "pages/side-nav.njk" %}
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p>Check Your Report</p>
    </div>
  </div>

{% endblock %}
