{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <h1>Incorrect Navigation Route</h1>
  <p>You have accessed the service via a non-standard route and without the correct information. Please access the service via NDelius</p>


{% endblock %}
