{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Report Completed" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
  {% from "govuk/components/panel/macro.njk" import govukPanel %}
  {% from "govuk/components/panel/macro.njk" import govukPanel %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set mainClasses = "govuk-main-wrapper--l" %}

      {{ govukPanel({
        titleText: "Breach Report COSSO – Report Completed",
        html: "Your Breach Report has been completed and uploaded."
      }) }}

      <h1 class="govuk-heading-l">What to do next</h1>

      <h2 class="govuk-heading-m">Review and print your Breach Report CO SSO</h2>
      <p id="reviewReport"><a href="{{ '/pdf/' + cossoId }}" class="govuk-link" target="_blank">View your completed PDF Form</a></p>

    </div>
  </div>

{% endblock %}
