<nav class="moj-side-navigation" aria-label="Side navigation">
  <ul class="moj-side-navigation__list">
    <li class="moj-side-navigation__item {{ "moj-side-navigation__item--active" if currentPage == "basic-details" }}">
      <a id="nav-basic-details" href="/basic-details/{{ cossoId }}" aria-current="location">Basic details</a>
    </li>
  </ul>
</nav>
